<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="demo">
        <input type="text" v-model="searchName">
        <ul>
            <li v-for="(p, index) in filterPersons" :key="p.id">
                {{p.id}}---{{p.name}}---{{p.age}}

            </li>
        </ul>
        <button @click="sortType=2">按年龄升序</button>
        <button @click="sortType=3">按年龄降序</button>
        <button @click="sortType=1">复原</button>
    </div>
    <script src="../js/vue.js"></script>
    <script>
        new Vue({
            el: "#demo",
            data() {
                return {
                    searchName: "",
                    sortType: 1, //1:不排序 2:升序 3:降序
                    persons: [{
                            id: 1,
                            name: "Tom",
                            age: 15
                        }, {
                            id: 3,
                            name: "Jerry ",
                            age: 12
                        },
                        {
                            id: 5,
                            name: "Jack",
                            age: 14
                        }, {
                            id: 7,
                            name: 'Bob',
                            age: 13
                        },
                        {
                            id: 2,
                            name: 'Mack',
                            age: 16
                        },

                    ]
                }
            },
            computed: {
                filterPersons() {
                    const {
                        searchName,
                        persons,
                        sortType
                    } = this
                    const arr = persons.filter((p) => p.name.indexOf(searchName) !== -1)
                    if (sortType !== 1) {
                        arr.sort((a, b) => {
                            if (sortType === 2) {
                                return b.age - a.age
                            } else {
                                return a.age - b.age
                            }
                        })
                    }
                    return arr
                }
            },
        })
    </script>
</body>

</html>